.product-details-latest {
  .new-arrival-badge {
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 3.6px;
    color: #999999;
    text-transform: uppercase;
  }

  .product-name {
    font: normal normal 600 32px/43px Playfair Display;
    letter-spacing: 0.48px;
    color: #333333;
  }
}
